@model Opw.PineBlog.Posts.IEditPostCommand
@{
    var isEdit = ViewData["Id"] != null;
}
<input asp-for="CoverUrl" type="hidden">
<div class="post-cover" style="background-image: url('@Model.CoverUrl')">
    <div class="container">
        <div>
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <input type="submit" id="" class="btn btn-primary" value="Save" />
                @if (isEdit)
                {
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                        <div class="dropdown-menu">
                            @if (Model.Published.HasValue)
                            {
                                <a asp-page-handler="Unpublish" asp-route-id="@ViewData["Id"]" class="dropdown-item">Unpublish</a>
                            }
                            else
                            {
                                <a asp-page-handler="Publish" asp-route-id="@ViewData["Id"]" class="dropdown-item">Publish</a>
                            }
                            <a class="dropdown-item" href="#">Delete</a>
                        </div>
                    </div>
                }
            </div>

            @if (isEdit)
            {
                <a asp-page="Post" asp-area="Blog" asp-route-slug="@ViewData["Slug"]" target="_blank" class="btn btn-outline-light">View</a>
            }
            <a asp-page="Posts" class="btn btn-outline-light">Cancel</a>

            @if (isEdit)
            {
                <div class="btn-group float-right" role="group">
                    <button type="button" class="btn btn-outline-light" title="Cover" onclick="fileManager.open(updatePostCoverCallback, '@ViewData["FilePath"]', 'image'); return false;">
                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-outline-light" title="Settings" data-toggle="modal" data-target="#settingsModal">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                    </button>
                </div>
            }
        </div>
        <div class="form-group">
            <textarea asp-for="Title" placeholder="Post title.."></textarea>
        </div>
    </div>
</div>

<!--TODO: replace with toasts-->
<div asp-validation-summary="All" class="invalid-tooltip"></div>

<div class="md-editor">
    <textarea asp-for="Content"></textarea>
</div>

<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Post Settings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label asp-for="Categories"></label>
                    <input asp-for="Categories" class="form-control">
                    <span asp-validation-for="Categories" class="invalid-feedback"></span>
                    <small class="form-text text-muted">Comma separated list of categories.</small>
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="invalid-feedback"></span>
                </div>
                <hr />
                <div class="form-group">
                    <label asp-for="CoverCaption"></label>
                    <input asp-for="CoverCaption" class="form-control">
                    <span asp-validation-for="CoverCaption" class="invalid-feedback"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CoverLink"></label>
                    <input asp-for="CoverLink" class="form-control">
                    <span asp-validation-for="CoverLink" class="invalid-feedback"></span>
                </div>
                @if (Model.Published.HasValue)
                {
                    <hr />
                    <div class="form-group">
                        <label asp-for="Published"></label>
                        <input asp-for="Published" class="form-control">
                        <span asp-validation-for="Published" class="invalid-feedback"></span>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@if (Model.Published.HasValue)
{
<input type="checkbox" id="titleChangeConfirmed" name="titleChangeConfirmed" style="display:none" />
<script>
    jQuery.validator.addMethod('titleChange', function (value, element) {
        if ($('#titleChangeConfirmed').prop('checked'))
            return true;
        return value !== @Model.Title;
    }, 'Changing the title will also update the slug, are you sure you want that?');
    $('#Post_Title').validate({
        rules : {
            titleChange : { titleChange : true }
        }
    });
</script>
}