@model Opw.PineBlog.RazorPages.Models.PageCoverModel
<div class="page-cover" style="background-image: url('@Model.CoverUrl')">
    <h1 class="page-cover-title">
        @if (Model.PostListType == Opw.PineBlog.Models.PostListType.Category)
        {
            <a href="#">
                <i class="fa fa-tag" aria-hidden="true"></i>
                @Model.Category
            </a>
        }
        @*@if (Model.PostListType == Opw.PineBlog.Models.PostListType.Search)
        {
            <a href="#">
                <i class="fa fa-tag" aria-hidden="true"></i>
                @Model.SearchQuery
            </a>
        }*@
        else if (Model.PostListType == Opw.PineBlog.Models.PostListType.Blog)
        {
            <a href="~/">@Model.Title</a>
        }
        else
        {
            @:&nbsp;
        }
    </h1>
    @if (!string.IsNullOrWhiteSpace(Model.CoverCaption) || !string.IsNullOrWhiteSpace(Model.CoverLink))
    {
        <div class="page-cover-info container">
            <a href="#" class="page-cover-info-btn" role="button" data-toggle="popover" data-placement="bottom" data-trigger="focus" data-popover-content="#coverInfo">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
            </a>
            <div id="coverInfo" style="display: none">
                <div class="popover-header"></div>
                <div class="popover-body">
                    @if (!string.IsNullOrWhiteSpace(Model.CoverCaption))
                    {
                        @Model.CoverCaption
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.CoverLink))
                    {
                        @:&nbsp;
                        <a href="@Model.CoverLink">
                            <i class="fa fa-external-link" aria-hidden="true"></i>
                        </a>
                    }
                </div>
            </div>
        </div>
    }
</div>
