@page
@model PostModel

<div class="page-cover" style="background-image: url('/@Model.Post.CoverUrl')">
    <h1 class="page-cover-title">
        <a href="~/">@Model.Post.Title</a>
    </h1>
</div>

<div class="page-content">
    <div class="container">
        <partial name="_Post" model="@Model.Post" />

        @if (Model.Previous != null || Model.Next != null)
        {
            <nav class="pagination row justify-content-end">
                @if (Model.Next != null)
                {
                    <div class="item-next col-md-6">
                        <label>next</label>
                        <a href="~/blog/@Model.Next.Slug" title="@Model.Next.Title">
                            @Model.Next.Title
                        </a>
                    </div>
                }
                <div class="item-prev col-md-6">
                    @if (Model.Previous != null)
                    {
                        <label>previous</label>
                        <a href="~/blog/@Model.Previous.Slug" title="@Model.Previous.Title">
                            @Model.Previous.Title
                        </a>
                    }
                </div>
            </nav>
        }
    </div>
</div>
