@page
@model PostModel
@{
    ViewData["BlogTitle"] = Model.Post.Blog.Title;
    var pageCoverModel = new Opw.PineBlog.RazorPages.Models.PageCoverModel(
        Model.Post.Post.Title,
        Model.Post.Post.CoverUrl,
        Model.Post.Post.CoverCaption,
        Model.Post.Post.CoverLink);
}

<partial name="_PageCover" model="pageCoverModel" />

<div class="page-content">
    <div class="container">
        <partial name="_Post" model="@Model.Post.Post" />

        @if (Model.Post.Previous != null || Model.Post.Next != null)
        {
            <nav class="pagination row justify-content-end">
                @if (Model.Post.Next != null)
                {
                    <div class="item-next col-md-6">
                        <label>next</label>
                        <a asp-page="Post" asp-route-slug="@Model.Post.Next.Slug" title="@Model.Post.Next.Title">
                            @Model.Post.Next.Title
                        </a>
                    </div>
                }
                <div class="item-prev col-md-6">
                    @if (Model.Post.Previous != null)
                    {
                        <label>previous</label>
                        <a asp-page="Post" asp-route-slug="@Model.Post.Previous.Slug" title="@Model.Post.Previous.Title">
                            @Model.Post.Previous.Title
                        </a>
                    }
                </div>
            </nav>
        }
    </div>
</div>
