@page
@model PostsModel
<div class="container">
    <h1>
        Posts
        <a href="@Url.Page("AddPost")" class="btn btn-primary float-right">New</a>
    </h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Published</th>
                <th scope="col">Created</th>
                <th scope="col">Modified</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in Model.Posts)
            {
                <tr onclick="location.href = '@Url.Page("UpdatePost", new { id = post.Id })'" class="clickable">
                    <td>@post.Title</td>
                    <td>@post.Author.DisplayName</td>
                    <td>@post.Published</td>
                    <td>@post.Created</td>
                    <td>@post.Modified</td>
                </tr>
            }
        </tbody>
    </table>
    @if (Model.Pager != null && (Model.Pager.ShowOlder || Model.Pager.ShowNewer))
    {
        <nav>
            <ul class="pagination justify-content-center">
                @if (Model.Pager.ShowNewer)
                {
                    <li class="page-item">
                        <a href="?@Model.Pager.LinkToNewer" title="Newer" class="page-link">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><span aria-hidden="true">&laquo;</span></a>
                    </li>
                }

                @for (int i = 1; i <= Model.Pager.LastPage; i++)
                {
                    var activeClassName = (i == Model.Pager.CurrentPage) ? "active" : "";
                    <li class="page-item @activeClassName">
                        <a href="?page=@i" title="Newer" class="page-link">@i</a>
                    </li>
                }

                @if (Model.Pager.ShowOlder)
                {
                    <li class="page-item">
                        <a href="?@Model.Pager.LinkToOlder" title="Newer" class="page-link">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><span aria-hidden="true">&raquo;</span></a>
                    </li>
                }
            </ul>
        </nav>
    }
</div>
